{{>layout/header}}
<div class="col-md-6 offset-3 my-3">
    <div class="jumbotron">
        <input type="hidden" class="form-control" id="id" value="{{post.id}}" readonly>
        <h3 id="title">{{post.title}}</h3>
        <h6 class="lead" id="author">{{post.author}}</h6>
        <hr class="my-4">
        <p id="content">{{post.content}}</p>
    </div>
    <a href="/" role="button" class="btn btn-secondary">뒤로가기</a>
    <a href="/posts/update/{{id}}" role="button" class="btn btn-primary">수정하기</a>
</div>
{{>layout/footer}}

